required {
	background-color:green;
}

#imagesfeuille {
	background-image: url('images.jpg');
	background-size: cover;
}
#imagebleu {
	background-image: url('imagesbleu.jpeg');
	background-size: cover;
}

#center {
	text-align: center;
	margin-top: 100px;
}

p {
	font-size: 30px;
}
textarea {
	width: 400px;
	height: 100px;
}

#conversation {
	width: 400px;
	height: 200px;
	border: 1px solid blue;
	background-color: #CFE2E8;
	margin: auto;
}
