required {
	background-color:green;
}

#imagesfeuille {
	background-image: url('images.jpg');
	background-size: cover;
}
#backgroundmessage {
	background-image: url('imagesbleu.jpeg');
	background-size: cover;
}

#center {
	text-align: center;
	margin-top: 100px;
}

p {
	font-size: 30px;
}
#echo_pseudo {
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}
textarea {
	width: 400px;
	height: 100px;
}

#conversation {
	background-image: url('parquet.jpg');
	width: 90%;
	height: 250px;
	border: 1px solid blue;
	background-color: #CFE2E8;
	margin: auto;
}

#message_envoi {
	font-size: 20px;
	color: yellow;
}
